* {
    box-sizing: border-box;
}
:root {
    --bgr-HF: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
}
/* COMMON */
.container {
    width: 1170px;
    max-width: calc(100% - 50px);
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    padding: 17px 70px;
    min-width: 205px;
    background: #2e80ce;
    border-radius: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
}

/* Header */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--bgr-HF);
}

.logo {
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}
.logo__circle::before,
.logo__circle::after {
    display: inline-block;
    content: " ";
    border-radius: 50%;
}
.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}
.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    font-weight: 400;
    font-size: 1.8em;
    color: #fff;
}

.logo__brand--small {
    font-weight: 300;
    font-size: 1.2em;
}

/* header top */
.header-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 4px 21px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #c9d2da;
}
.navbar__item:hover,
.navbar__item--active {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__item--active::before {
    position: relative;
    top: -2px;
    left: -8px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffffff;
    content: " ";
}

.action__login {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #c9d2da;
}
.action__signup {
    min-width: 104px;
    padding: 9px 19px;
    font-weight: 400;
    font-size: 1.6rem;
    margin-left: 28px;
}
